// fonts
$playfair-display: "Playfair Display", serif;
$raleway: "Raleway", sans-serif;

// colors
$primary-color: #060606;
$alternate-color: #7f5695;
$bg-color: #fff2db;
$link-color: #eb6a56;
$header-color: #5a080d;

// misc values
$page-width: 66%;
$navbar-offset: 100px;

section {
  margin: 15px auto;
  max-width: 700px;
  padding: inherit 15px;
  line-height: 1.9em;
}

// generic tags
nav {
  background-color: $header-color;
  margin: auto;

  // "KW" icon on the far left of the navbar
  .home-initials {
    background-color: $alternate-color;
    font: 120% $playfair-display;
    font-weight: 600;
    width: 55px;
    height: 55px;
    border: 3px solid;
    border-color: $link-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $alternate-color;
      background-color: $link-color;
    }
  }

  // navbar links styling
  .nav-link {
    color: $link-color !important;
    font-weight: 400;
    padding: 12px 5px !important;
    margin: 6px 3px;
    border-radius: 10px;

    &:hover {
      background-color: $link-color;
      color: $alternate-color !important;
    }
  }

  // navbar hamburger menu icon
  .navbar-toggler {
    background-color: $alternate-color;
    color: $link-color;

    div.hamburger-menu {
      background-color: $link-color;
      border-radius: 5px;
      height: 3px;
      width: 22px;
      margin: 6px 0;
    }
  }
}

body {
  font: 120% $raleway;
  color: $primary-color;
  background-color: $bg-color;
  text-align: justify;
  margin-top: 80px;

  ::selection {
    background-color: $header-color;
    color: $bg-color;
  }
}

a {
  color: $link-color;
  transition: 0.3s;

  &:hover {
    color: $alternate-color;
  }

  &:visited {
    color: $header-color;
  }
}

h1 {
  font: 350% $playfair-display;
  font-weight: 800;
  color: $header-color;
}

h2 {
  font: 160% $playfair-display;
  font-weight: 800;
  color: $header-color;
}

hr {
  width: 30%;
  margin: auto;
  justify-content: center;
  border-top: 10px dotted;
  border-color: $link-color;
  opacity: 50%;
  background-color: unset;
}

footer {
  background-color: $header-color;
  color: $link-color;
  text-align: center;
  align-self: center;
}

#intro {
  .profile-img {
    margin: 0 30px 0 0;
    max-width: 180px;
    height: auto;
    align-self: center;
    border: 8px solid;
    border-radius: 50%;
    border-color: $link-color;
  }

  .intro-text {
    p {
      font: 170% $raleway;
      font-weight: 300;
    }
  }
}

#skills {
  li::marker {
    color: $link-color;
    opacity: 50%;
    font-size: 130%;
  }
}

.anchor:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: $navbar-offset;
  margin-top: $navbar-offset * -1;
}
