$primary-color: #333;
$playfair-display: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

//kudos to coolors for some awesome palettes!
//this color combo is from https://coolors.co/palette/c9cba3-ffe1a8-e26d5c-723d46-472d30
$bg-color: #FFE1A8;
$alternate-color: #C9CBA3;
$link-color: #E26D5C;
$header-color-light: #723D46;
$header-color-dark: #472D30;

//important IDs
#intro {
  padding-top: 60px;

  .profile-img {
    padding: 0 10px;
    max-width: 200px;
    height: auto;
    align-self: center;
  }

  .intro-block {
    display: flex;
  }

  .intro-text {
    padding: 0 10px;

    p {
      font: 170% $raleway;
      font-weight: 300;
    }
  }

  .intro-brace {
    font-size: 1200%;
    color: $alternate-color;
    margin: -40px 0 -60px;
  }
}

#skills {
  li::marker {
    color: $link-color;
    opacity: 50%;
    font-size: 130%;
  }
}

section {
  padding: 0 15px 20px;
}

nav {
  background-color: $header-color-dark;

  //"KW" icon on the far left of the navbar
  .home-initials {
    background-color: $alternate-color;
    font: 120% $playfair-display;
    font-weight: 600;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $alternate-color;
      background-color: $link-color;
    }
  }

  .navbar-nav {
    margin-top: 5px;
  }

  //navbar links styling
  .nav-link {
    color: $alternate-color !important;
    font-weight: 400;
    padding: 12px 5px !important;
    margin: 6px 3px;
    border-radius: 10px;

    &:hover {
      background-color: $header-color-light;
    }
  }

  //navbar hamburger menu icon
  .navbar-toggler {
    background-color: $alternate-color;
    color: $link-color;

    div.hamburger-menu {
      background-color: $link-color;
      border-radius: 5px;
      height: 3px;
      width: 22px;
      margin: 6px 0;
    }
  }
}

//generic tags
body {
  font: 100% $raleway;
  color: $primary-color;
  background-color: $bg-color;
  padding: 10px;
  text-align: justify;

  ::selection {
    background-color: $header-color-dark;
    color: $bg-color;
  }
}

a {
  color: $link-color;
  transition: 0.3s;

  &:hover {
    color: $alternate-color;
  }
  &:visited {
    color: $header-color-light;
  }
}

h1 {
  font: 350% $playfair-display;
  font-weight: 800;
  color: $header-color-light;
}

h2 {
  font: 150% $playfair-display;
  font-weight: 600;
  color: $header-color-light;
}

p {
  line-height: 150%;
  color: dark-grey;
}

hr {
  width: 30%;
  margin: auto;
  justify-content: center;
  border-top: 10px dotted;
  border-color: $link-color;
  opacity: 50%;
  background-color: unset;
}
